body {
  margin: 0px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ProfilePic {
  max-width: 25%;
  height: auto;
}

#centerHeader {
  display: flex;
  position: relative;
  margin: auto;
  height: 100%;
  width: 960px;
}

#headerBox {
  position: relative;
  top: 0px;
  height: 80px;
  width: 100%;
  border-bottom: solid;
  border-color: #cccccc;
}

#nameBox {
  height: 100%;
  width: 350px;
  background-color: #6496c3;
}

.headerFormat {
  margin: 0;
  color: #fff;
  font-family: "Rubik";
}

a {
  text-decoration: none;
  font-family: "Cabin";
  color: #aeaab4;
}

#socialIcons {
  flex-flow: column wrap;
  width: 32px;
}

#linkedInIcon {
  background-image: url(../images/linkedInIcon.png);
}

#gitHubIcon {
  background-image: url(../images/gitHubIcon.png);
}

.iconSizing {
  margin: 8%;
  height: 32px;
  width: 32px;
  background-size: cover;
}

#linksBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 250px;
}

#aboutLink {
  float: left;
  text-align: center;
  width: 33%;
  color: #d2d1d2;
}

#portfolioLink {
  float: left;
  text-align: center;
  width: 33%;
  border-left: solid;
  border-right: solid;
  border-color: #f6f6f6;
  color: #d2d1d2;
}

#resumeLink {
  float: left;
  text-align: center;
  width: 33%;
  color: #d2d1d2;
}

/* .ContactLink {
  float: left;
  text-align: center;
  width: 33%;
  color: #d2d1d2;
} */

.Background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0px;
  background: url(../images/spikes.png);
}

.ContentWrapper {
  position: relative;
  margin: 25px auto;
  height: min-content;
  width: 960px;
  border-style: solid;
  border-color: #dddddd;
  background-color: #fff;
  color: #777;
}

h2 {
  margin: 0px 20px;
  padding: 20px 0px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #e4e4e4;
  font-family: "Roboto";
  color: #6496c3;
}

.contentBox {
  padding: 20px;
  font-family: "Cabin";
}

img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

p {
  margin: 0px;
}

.InputName {
  margin: 5px 0px 15px 0px;
  padding: 5px 5px;
  width: 100%;
}

.InputEmail {
  margin: 5px 0px 15px 0px;
  padding: 5px 5px;
  width: 100%;
}

.InputMessage {
  margin: 5px 0px 15px 0px;
  padding: 5px 5px 200px 5px;
  width: 100%;
}

.InputSubmit {
  border: none;
  padding: 10px 30px;
  background-color: #6496c3;
  color: #fff;
}

#portfolioContentBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.thumbSizing {
  position: relative;
  margin: 0px 10px 15px 10px;
  height: 180px;
  width: 275px;
}

.pointerOnHover:hover {
  cursor: pointer;
}

#inOrOut {
  background: url(../images/inOrOut.PNG);
  background-size: cover;
  background-position: center;
}

#weatherNow {
  background: url(../images/weatherNow.PNG);
  background-size: cover;
  background-position: center;
}

#dayPlanner {
  border: solid;
  background: url(../images/dayPlanner.PNG);
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  bottom: 10%;
  padding: 10px 0px;
  width: 100%;
  background-color: #6496c3;
  text-align: center;
  font-family: "Cabin";
  color: #fff;
}

.StickyFooter {
  flex-shrink: 0;
  text-align: center;
  border-top: 8px solid #6496c3;
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: #666666;
  color: #a8ada8;
}
