.CenterHeader {
  position: relative;
  margin: auto;
  height: 100%;
  width: 960px;
}

.HeaderBox {
  position: relative;
  top: 0px;
  height: 75px;
  width: 100%;
  border-bottom: solid;
  border-color: #cccccc;
}

.NameBox {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 350px;
  background-color: #4aaaa5;
}

h1 {
  margin: 0;
  color: #fff;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #aeaab4;
}

.LinksBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 250px;
}

.AboutLink {
  float: left;
  text-align: center;
  width: 33%;
  color: #d2d1d2;
}

.PortfolioLink {
  float: left;
  text-align: center;
  width: 33%;
  border-left: solid;
  border-right: solid;
  border-color: #f6f6f6;
  color: #d2d1d2;
}

.ContactLink {
  float: left;
  text-align: center;
  width: 33%;
  color: #d2d1d2;
}

.Background {
  top: 0px;
  height: 100vh;
  background: url(../images/spikes.png);
}

.ContentWrapper {
  position: relative;
  margin: auto;
  top: 25px;
  width: 960px;
  border-style: solid;
  border-color: #dddddd;
  background-color: #fff;
  color: #777;
}

h2 {
  margin: 0px 20px;
  padding: 20px 0px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #e4e4e4;
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #4aaaa5;
}

.ContentBox {
  padding: 20px 20px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.StickyFooter {
  flex-shrink: 0;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: #666666;
  color: #a8ada8;
}
